Repository claudaniloxavier/cocktail-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, prettier --write

chore: adjusted commitlint
  .lintstagedrc.json
  commitlint.config.ts
Due: eslint --fix, eslint, prettier --write

chore: remove react query devtools dependency
  package-lock.json
  package.json
Due: prettier --write

feat: created navbar component and adjusted theme
  next.config.ts
  src/app/about-us/page.tsx
  src/app/cocktails/page.tsx
  src/app/contact/page.tsx
  src/app/home/page.tsx
  src/app/layout.tsx
  src/app/page.module.css
  src/app/page.tsx
  src/components/commons/Footer/index.tsx
  src/components/commons/Layout/index.tsx
  src/components/commons/Navbar/index.tsx
  src/lib/api/endpoints.ts
  src/providers/index.tsx
  src/styles/globals.css
  src/styles/theme.ts
  src/utils/constants.ts
Due: eslint --fix, eslint

build: added nvmrc and npmrc
  .npmrc
  .nvmrc
Due: none

feat: added icons
  src/components/commons/Icons/Facebook.tsx
  src/components/commons/Icons/Instagram.tsx
  src/components/commons/Icons/Person.tsx
  src/components/commons/Icons/ShoppingCart.tsx
  src/components/commons/Icons/Spotify.tsx
  src/components/commons/Icons/Youtube.tsx
Due: eslint --fix, eslint

feat: created footer and social media components
  src/components/commons/Footer/index.tsx
  src/components/commons/Layout/index.tsx
  src/components/commons/Navbar/index.tsx
  src/components/commons/Social/index.tsx
  src/styles/theme.ts
Due: eslint --fix, eslint

feat: created games hook
  README.md
  src/app/cocktails/page.tsx
  src/components/commons/Navbar/constants.ts
  src/components/commons/Navbar/index.tsx
  src/hooks/useGameDetails.ts
  src/hooks/useGames.ts
  src/lib/igdb/constants.ts
  src/lib/igdb/index.ts
Due: eslint --fix, eslint, prettier --write

style: adjusting theme
  src/components/commons/Footer/index.tsx
  src/components/commons/Navbar/index.tsx
  src/components/commons/Social/index.tsx
  src/styles/theme.ts
Due: eslint --fix, eslint

feat: created card and card list component and adjusted api hooks
  package-lock.json
  package.json
  src/app/cocktails/page.tsx
  src/app/games/page.tsx
  src/components/commons/Footer/index.tsx
  src/components/commons/Layout/index.tsx
  src/components/commons/Navbar/constants.ts
  src/components/games/GameCard/index.tsx
  src/components/games/GameCard/types.ts
  src/components/games/GameList/index.tsx
  src/hooks/useGames.ts
  src/lib/api/endpoints.ts
  src/lib/api/fetch.ts
  src/lib/igdb/constants.ts
  src/lib/igdb/index.ts
  src/styles/globals.css
  src/styles/theme.ts
  src/types/game.ts
Due: eslint --fix, eslint, prettier --write

feat: created game card and showing it in game list page
  package-lock.json
  src/components/games/GameCard/index.tsx
  src/components/games/GameCard/types.ts
  src/components/games/GameList/index.tsx
  src/lib/igdb/constants.ts
  src/lib/igdb/index.ts
  src/styles/theme.ts
  src/types/game.ts
Due: eslint --fix, eslint, prettier --write

feat: added empty state component
  src/app/games/page.tsx
  src/components/commons/Layout/index.tsx
  src/components/commons/Show/index.tsx
  src/components/commons/Show/types.ts
  src/components/games/EmptyState/index.tsx
  src/components/games/GameCard/index.tsx
  src/components/games/GameCard/skeleton.tsx
  src/components/games/GameList/index.tsx
  src/components/games/GameListSkeleton/index.tsx
Due: eslint --fix, eslint

fix: fix hydratation error
  src/components/commons/Layout/index.tsx
Due: eslint --fix, eslint

chore: remove unnecessary component
  src/components/games/GameListSkeleton/index.tsx
Due: eslint --fix, eslint

feat: created game details page
  next.config.ts
  src/app/about-us/page.tsx
  src/app/contact/page.tsx
  src/app/games/[id]/page.tsx
  src/app/games/page.tsx
  src/app/home/page.tsx
  src/components/commons/InfoCard/index.tsx
  src/components/commons/InfoCard/styles.ts
  src/components/commons/InfoCard/types.ts
  src/components/commons/InfoList/index.tsx
  src/components/commons/InfoList/styles.ts
  src/components/commons/InfoList/types.ts
  src/components/commons/Layout/index.tsx
  src/components/commons/Navbar/constants.ts
  src/components/commons/Navbar/index.tsx
  src/components/games/GameCard/index.tsx
  src/components/games/GameList/index.tsx
  src/components/games/details/About/index.tsx
  src/components/games/details/About/types.ts
  src/components/games/details/Detail/index.tsx
  src/components/games/details/Detail/styles.ts
  src/components/games/details/Informations/index.tsx
  src/components/games/details/Informations/types.ts
  src/components/games/details/Informations/useBuildGameInformations.ts
  src/hooks/useGameDetails.ts
  src/lib/igdb/constants.ts
  src/lib/igdb/index.ts
  src/types/game.ts
Due: eslint --fix, eslint

chore: use mui styled
  src/app/layout.tsx
  src/components/commons/Footer/constants.ts
  src/components/commons/Footer/index.tsx
  src/components/commons/Footer/styles.ts
  src/components/commons/Logo/index.tsx
  src/components/commons/Logo/styles.ts
  src/components/commons/Logo/types.ts
  src/components/commons/Navbar/index.tsx
  src/components/commons/Navbar/styles.ts
  src/components/commons/Social/index.tsx
  src/components/commons/Social/styles.ts
  src/components/games/EmptyState/index.tsx
  src/components/games/EmptyState/styles.ts
  src/components/games/GameCard/index.tsx
  src/components/games/GameCard/skeleton.tsx
  src/components/games/GameCard/styles.ts
  src/components/games/GameList/index.tsx
  src/components/games/GameList/styles.ts
  src/components/games/details/Detail/index.tsx
  src/components/games/details/Informations/hooks/useBuildGameInformations.ts
  src/lib/igdb/index.ts
  src/styles/theme.ts
Due: eslint --fix, eslint

docs: set up readme file
  README.md
Due: prettier --write

fix: correct type path
  src/components/games/details/Informations/hooks/useBuildGameInformations.ts
Due: eslint --fix, eslint

feat: created game detail skeleton
  src/components/games/GameCard/skeleton.tsx
  src/components/games/details/Detail/index.tsx
  src/components/games/details/Detail/skeleton.tsx
  src/components/games/details/Informations/index.tsx
  src/lib/igdb/index.ts
Due: eslint --fix, eslint

feat: show game name into details navbar
  src/components/commons/Icons/ArrowLeft.tsx
  src/components/commons/Navbar/index.tsx
  src/hooks/useGameDetails.ts
  src/hooks/useGames.ts
  src/lib/igdb/index.ts
  src/providers/index.tsx
Due: eslint --fix, eslint

style: adjust colors and styles
  src/app/layout.tsx
  src/components/commons/Footer/index.tsx
  src/components/commons/InfoCard/index.tsx
  src/components/commons/Logo/styles.ts
  src/components/commons/Navbar/index.tsx
  src/components/commons/Navbar/styles.ts
  src/components/commons/Social/index.tsx
  src/components/games/GameCard/index.tsx
  src/components/games/GameList/index.tsx
  src/components/games/details/About/index.tsx
  src/components/games/details/Detail/index.tsx
  src/components/games/details/Informations/index.tsx
  src/styles/theme.ts
Due: eslint --fix, eslint

feat: added page title metadata and favicon
  src/app/favicon.ico
  src/app/games/[id]/page.tsx
  src/app/games/page.tsx
  src/app/layout.tsx
  src/components/commons/Logo/index.tsx
Due: eslint --fix, eslint

chore: code organization
  README.md
  src/app/games/page.tsx
  src/components/commons/InfoCard/index.tsx
  src/components/commons/InfoList/index.tsx
  src/components/commons/Layout/index.tsx
  src/components/commons/Logo/index.tsx
  src/components/games/details/Detail/index.tsx
  src/components/games/details/Informations/hooks/useBuildGameInformations.ts
  src/hooks/useGameDetails.ts
  src/hooks/useGames.ts
Due: eslint --fix, eslint, prettier --write

chore: added aria label to button
  src/components/commons/Navbar/index.tsx
Due: eslint --fix, eslint

build: correct image link
  src/components/games/GameCard/index.tsx
  src/components/games/GameCard/styles.ts
Due: eslint --fix, eslint

build: correct image link
  src/components/games/GameCard/index.tsx
Due: eslint --fix, eslint

feat: change cover image size
  src/components/games/details/Detail/styles.ts
Due: eslint --fix, eslint

docs: adjust readme
  README.md
Due: prettier --write

fix: adjust navbar layout
  src/components/commons/Navbar/index.tsx
Due: eslint --fix, eslint

test: added partial component tests
  package-lock.json
  package.json
  src/components/commons/Footer/index.tsx
  src/components/commons/Footer/spec.tsx
  src/components/commons/Footer/styles.ts
  src/components/commons/InfoCard/spec.tsx
  src/components/commons/InfoList/spec.tsx
  src/components/commons/Navbar/index.tsx
  src/components/commons/Navbar/spec.tsx
  src/components/commons/Show/spec.tsx
  src/components/commons/Social/spec.tsx
  src/components/games/EmptyState/spec.tsx
  src/components/games/GameCard/index.tsx
  src/components/games/GameCard/skeleton.tsx
  src/components/games/GameCard/spec.tsx
  src/components/games/GameList/spec.tsx
  src/components/games/details/About/spec.tsx
  src/components/games/details/Detail/skeleton.tsx
  src/components/games/details/Detail/spec.tsx
  src/components/games/details/Informations/hooks/spec.ts
  src/components/games/details/Informations/hooks/useBuildGameInformations.ts
  src/components/games/details/Informations/spec.tsx
  src/lib/react-query/test-helper.tsx
Due: eslint --fix, eslint, prettier --write

test: adjust test coverage
  jest.config.ts
  src/components/commons/Navbar/index.tsx
  src/components/commons/Navbar/spec.tsx
  src/components/games/GameCard/index.tsx
  src/components/games/details/Detail/skeleton.tsx
Due: eslint --fix, eslint

test: adjust test key
  src/components/games/GameList/spec.tsx
Due: eslint --fix, eslint

fix: adjust card skeleton height
  src/components/games/GameCard/styles.ts
Due: eslint --fix, eslint

refactor: show n/a instead hyphen when game didnt have some info
  src/components/games/details/Informations/hooks/spec.ts
  src/components/games/details/Informations/hooks/useBuildGameInformations.ts
  src/components/games/details/Informations/spec.tsx
Due: eslint --fix, eslint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml}
